body {
  font-family: Inter, sans-serif;
  font-size: 22px;
  text-align: left;
  margin: 0;
  overflow-x: hidden;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical {
  display: flex;
  flex-direction: column;
}

.download-icon {
  width: 160px;
  z-index: 2;
}

.underline {
  text-decoration: underline;
}

.horizontal {
  display: flex;
  align-items: center;
}

header {
  position: relative;
  background: url("images/header-bg.svg") no-repeat center,
    radial-gradient(50% 50%at 50% 50%, rgb(246 243 239 / 0%), #f6f3ef);
  height: 630px;
}

.logo-box {
  height: 100px;
}

.trade-your-metatrader {
  height: 200px;
  align-items: end;

  &__text {
    font-size: 52px;
    line-height: 110%;
    font-weight: 450;
    font-family: "Futura PT", sans-serif;
    color: #1d2b3f;
    text-align: center;
    width: 670px;
    margin: 0;
  }

  &__mt-icon {
    vertical-align: middle;
  }
}

.dont-wait {
  margin-top: 35px;

  &__qr-icon {
    margin-right: 30px;
  }

  &__text {
    font-size: 14px;
    color: #1d2b3f;
    line-height: 150%;
    font-weight: 500;
    width: 170px;
  }
}

main {
  position: relative;
  top: -180px;
}

.look {
  margin-right: 140px;
  position: relative;

  &__text {
    z-index: 2;
    width: 270px;
  }

  &__looking-for {
    font-size: 18px;
    line-height: 140%;
  }

  &__no-further {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
  }
}

.phone1 {
  position: relative;

  &__left {
    position: absolute;
    top: 72px;
    left: -82px;
    width: 285px;
    z-index: 2;
  }

  &__center {
    position: relative;
    width: 365px;
    z-index: 2;
  }

  &__right {
    position: absolute;
    top: 72px;
    left: 163px;
    width: 285px;
    z-index: 2;
  }
}

.with-the-mt4 {
  position: relative;
  margin-top: 140px;
  margin-left: 140px;

  &__ellipse {
    top: 35%;
    left: 0%;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: #2d3436;
    width: 270px;
    z-index: 2;
    margin-bottom: 30px;
  }

  &__apple-icon {
    margin-bottom: 10px;
  }
}

.download-mt4 {
  align-items: center;

  &__text {
    line-height: 150%;
    font-weight: 600;
    width: 570px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__apple-icon {
    margin-right: 30px;
  }
}

.section2 {
  margin-top: 70px;
}

.with-the-app {
  margin-top: 170px;
  margin-right: 150px;
  position: relative;
  left: -120px;

  &__ellipse {
    top: 90%;
    left: 64%;
  }

  &__with-the-app {
    line-height: 150%;
    font-weight: 600;
    color: #2d3436;
    width: 470px;
    margin-bottom: 40px;
    z-index: 2;
  }

  &__download {
    line-height: 150%;
    font-weight: 500;
    width: 195px;
    font-size: 14px;
    color: #1d2b3f;
    margin-left: 30px;
    z-index: 2;
  }
}

.phone2 {
  position: relative;
  left: -140px;

  &__ellipse {
    left: 70%;
    top: 60%;
  }

  &__left {
    position: relative;
    width: 320px;
    z-index: 2;
  }

  &__right {
    position: absolute;
    width: 320px;
    z-index: 2;
    left: 125px;
    top: 80px;
  }
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  top: -20px;
}

.need-help {
  width: 65%;
  height: 60px;
  background-color: #f8f2ec;
  border-radius: 9px;
  z-index: -1;

  &__text {
    font-weight: 300;
    z-index: 2;
  }

  &__help-section-link {
    font-weight: bold;
    text-decoration: underline;
    color: #b68756;
  }
}